<div class="ui container">

    <sm-segment class="raised">

        <sm-button class="right floated tiny labeled primary" icon="add icon" (click)="myModalNormal.show({inverted: true})">Add Project</sm-button>

        <h1 class="ui dividing header">Welcome</h1>

        <div>
            <sm-list>
                <sm-item *ngFor="let project of projects$ | async">
                    <div class="right floated content">
                        <sm-button class="mini" (click)="selectProject(project)">Select</sm-button>
                        <sm-button class="mini negative" (click)="deleteProject(project)">Delete</sm-button>
                    </div>
                    <div class="content">
                        <a [routerLink]="['/project', project._id]">{{ project.title }}</a>
                    </div>
                </sm-item>
            </sm-list>
        </div>

    </sm-segment>

    <sm-modal title="Hello from Modal" class="" icon="home" #myModalNormal>

        <modal-content>

            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)" class="ui form">
                <div class="field">
                    <sm-input [formControl]="form.controls['title']" ngDefaultControl placeholder="Project title"></sm-input>
                </div>

                <sm-button class="positive" type="submit" (click)="myModalNormal.hide()">Save</sm-button>
            </form>

        </modal-content>
        <modal-actions>

            <div class="ui buttons">
                <div class="ui button primary" (click)="myModalNormal.hide()">Close modal</div>
            </div>

        </modal-actions>

    </sm-modal>

</div>
